doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        meta(name="format-detection" content="telephone=no")
        link(href="style.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com", rel="preconnect")
        link(href="https://fonts.gstatic.com", rel="preconnect", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap", rel="stylesheet")
        title Dashboard
    body 
      .site-wrapper
        include mob-blocks/header/header.pug
        include mob-blocks/menu/menu.pug
        include desk-blocks/aside/aside.pug
        include desk-blocks/main/main.pug
      script(src="./mob-blocks/menu/menu.js")
        
        