* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #FAFBFF;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.14px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: block;
}

input {
  padding: 0;
  outline: none;
}

button {
  border: none;
}

.site-wrapper {
  display: flex;
  gap: 71px;
  max-width: 1440px;
  margin: 0 auto;
}

.svg {
  width: 24px;
  height: 24px;
  fill: #9197B3;
  stroke: #9197B3;
}

.header {
  position: fixed;
  display: flex;
  padding: 0 16px;
  align-items: center;
  z-index: 1;
  justify-content: space-between;
  width: 100%;
  height: 58px;
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.header__button_open {
  height: 38px;
}

.header__icon {
  width: 38px;
  height: 38px;
  background-color: #FFF;
}

.header__button_close {
  display: none;
  position: absolute;
  right: 16px;
  height: 38px;
}

.show-button {
  display: block;
}

@media screen and (min-width: 426px) {
  .header {
    display: none;
  }
}
.aside {
  padding: 36px 28px 76px;
  background-color: #FFF;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
}

@media screen and (max-width: 426px) {
  .aside {
    display: none;
  }
}
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.svg__logo {
  width: 37px;
  height: 37px;
  fill: #000000;
}

.logo__title {
  font-size: 26px;
  letter-spacing: 0.26px;
}

.logo__link {
  display: inline;
  color: inherit;
}

.logo__span {
  color: #838383;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: -0.1px;
  padding-left: 4px;
}

@media screen and (min-width: 426px) {
  .logo {
    margin-bottom: 54px;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.nav__item {
  gap: 14px;
  width: 250px;
  position: relative;
  color: #9197B3;
  transition: all 300ms ease;
}

.nav__link {
  display: flex;
  align-items: center;
  height: 46px;
  gap: 14px;
  padding: 11px;
  border-radius: 8px;
  color: #9197B3;
  transition: all 300ms ease;
}

.nav__link:hover,
.nav__link:focus {
  background-color: #5932EA;
  color: #FFF;
  font-weight: 500;
  cursor: pointer;
}

.nav__icon {
  transition: all 300ms ease;
}

.nav__icon-chevron {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 8px;
  transition: all 300ms ease;
}

.nav__link:hover .nav__icon,
.nav__link:focus .nav__icon,
.nav__link:hover .nav__icon-chevron,
.nav__link:focus .nav__icon-chevron {
  fill: #FFF;
  stroke: #FFF;
}

@media screen and (min-width: 426px) {
  .nav {
    margin-bottom: 586px;
  }
}
.user-card {
  display: flex;
  gap: 12px;
}

.user-card__name {
  font-weight: 500;
  letter-spacing: 0.14px;
}

.user-card__profession {
  color: #757575;
  font-size: 12px;
  letter-spacing: 0.12px;
}

.main {
  padding: 41px 95px 0px 0px;
}

.customers-wrapper {
  width: 968px;
  background-color: #FFF;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  padding: 30px 40px 40px 38px;
  border-radius: 20px;
}

.greeting {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 51px;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.header__title {
  font-size: 22px;
  letter-spacing: -0.22px;
}

.header__text {
  color: #16C098;
}

.header__input-wrapper {
  position: relative;
}

.header-search__button {
  position: absolute;
  top: 7px;
  left: 8px;
  height: 24px;
  background-color: transparent;
}

.header__icon_search {
  stroke: #7E7E7E;
}

.header__button:hover {
  cursor: pointer;
}

.header__input {
  border-radius: 10px;
  background-color: #FAFBFF;
  border: 2px solid transparent;
  padding: 11px 4px 11px 40px;
  font-size: 12px;
  letter-spacing: -0.12px;
}

.header__input::placeholder {
  color: #B5B7C0;
  font-size: 12px;
  letter-spacing: -0.12px;
}

.table {
  display: grid;
  width: 100%;
  grid-template: repeat(9, 70px)/repeat(6, auto);
  place-items: center start;
  margin-bottom: 30px;
  width: 886px;
}

.table__head,
.table__body,
.table__row {
  display: contents;
}

.table__head-elem {
  color: #B5B7C0;
  font-weight: 500;
}

.table__head-elem:last-child {
  justify-self: center;
}

.table__cell {
  color: #292D32;
  font-weight: 500;
}

.table__cell:last-child {
  justify-self: center;
}

.table__status {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  border-radius: 4px;
  padding: 4px 0;
}

.table__status_theme_active {
  color: #008767;
  border: 1px solid #00B087;
  background-color: rgba(22, 192, 152, 0.38);
}

.table__status_theme_inactive {
  color: #DF0404;
  border: 1px solid #DF0404;
  background-color: #FFC5C5;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__text {
  color: #B5B7C0;
  font-weight: 500;
}

.footer__pagination {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer__list {
  display: flex;
  gap: 12px;
}

.footer__button-points {
  background-color: transparent;
  cursor: pointer;
  color: #404B52;
}

.footer__button {
  display: flex;
  width: 26px;
  height: 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #EEE;
  background-color: #F5F5F5;
  color: #404B52;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.12px;
  transition: all 300ms ease;
}

.footer__button:hover,
.footer__button:focus {
  cursor: pointer;
  color: #FFF;
  border: 1px solid #5932EA;
  background-color: #5932EA;
}

.footer__svg {
  width: 8px;
  height: 12px;
  fill: #404b52;
  transition: all 300ms ease;
}

.footer__button:hover .footer__svg,
.footer__button:focus .footer__svg {
  fill: #FFF;
}

.menu {
  position: fixed;
  z-index: 1;
  top: 58px;
  left: -100%;
  height: 100%;
  width: 100%;
  padding: 0 7px;
  background-color: #FFF;
  transition: all 300ms ease;
}

.show {
  left: 0;
}

@media screen and (min-width: 426px) {
  .menu {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .nav {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 426px) {
  .nav__item {
    width: 100%;
    border-bottom: 1px solid #9197B3;
  }
}
@media screen and (max-width: 426px) {
  .main {
    padding: 64px 7px 0 7px;
    width: 100%;
  }
}
@media screen and (max-width: 426px) {
  .customers-wrapper {
    width: 100%;
  }
  .main__header {
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (max-width: 426px) {
  .header__text-wrapper {
    align-items: center;
  }
}
@media screen and (max-width: 426px) {
  .footer {
    flex-direction: column;
    gap: 8px;
  }
}
@media screen and (max-width: 426px) {
  .table-overflow {
    overflow: scroll;
  }
}

/*# sourceMappingURL=style.css.map */
