.header 
  include ../../common-blocks/logo/logo.pug
  button.header__button_open(id="open") 
    svg.svg.header__icon 
      use(href="../../sprite.svg#icon-menu")
  button.header__button_close(id="close")  
    svg.svg.header__icon
      use(href="../../sprite.svg#icon-close")