li.nav__item
  a.nav__link(href="/") 
    svg.svg.nav__icon 
      use(href=`../../../../sprite.svg#icon-${navItem.icon}`)
    | #{navItem.name}
    svg.svg.nav__icon-chevron
      use(href="../../../../sprite.svg#icon-chevron")  