- const navItems = [{name: "Dashboard", icon: "key"}, {name: "Product", icon: "square"}, {name: "Customers", icon: "user"}, {name: "Income", icon: "wallet"}, {name: "Promote", icon: "discount"}, {name: "Help", icon: "message"}]

nav.nav 
  ul.nav__list 
    each navItem in navItems 
      include __item/nav__item.pug