doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(href="style.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com", rel="preconnect")
        link(href="https://fonts.gstatic.com", rel="preconnect", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap", rel="stylesheet")
    body
      .container 
        include src/components/aside/aside.pug
        include src/components/main/main.pug