- const entries = 256000;
- const entriesPerPage = 8;
- const pages = Math.ceil(entries / entriesPerPage);
- let num = 1;

footer.footer
  include __text/footer__text.pug
  include __pagination/footer__pagination.pug
    