.main {
    padding: 41px 95px 258px 0; 
}

.greeting {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 51px;
}

.tableWrapper {
    width: 968px;
    background-color: $secondaryBgColor;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.50);
    padding: 30px 44px 40px 38px;
}

.searchHeader {
    display: flex;
    margin-bottom: 40px;
    gap: 506px;
}

.textWrapper {
    
}

.tableTitle {
    font-size: 22px;
    letter-spacing: -0.22px;
    margin-bottom: 7px;
}

.membersSpan {
    color: $activeMembersTextColor;
    letter-spacing: -0.14px;
}

.searchWrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 216px;
    // height: 38px;
}

.searchButton {
    position: absolute;
    left: 8px;
    height: 24px;
    background-color: gray;
}

.searchButton__icon {
    width: 24px;
    height: 24px;
}

.input {
    height: 38px;
    padding-left: 40px;
    background: $inputBgColor;
    border-radius: 10px;
    color: $inputTextColor;
    font-family: Poppins;
    font-size: 12px;
    letter-spacing: -0.12px;
}

.input::placeholder {
    color: $inputTextColor;
    font-family: Poppins;
    font-size: 12px;
    letter-spacing: -0.12px;
}

.tableHead {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.headItem {
    color: $tableHeadTextColor;
    font-weight: 500;
    letter-spacing: -0.14px;
}